@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: white;
    min-height: 100vh; 
    padding-top: 70px;
    padding-bottom: 60px; 
    display: flex;
}

header{
    background-color: #ffffff;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #EBA842;
}

  
header a img {
    height: 50px;
    margin-right: 10px;
    margin-left: -80px;
}
#login{
    height: 28px;
    margin-right: -120px;
    margin-left: 0px;
    
    transition: transform 0.5s ease;
    
    
}
#login img{
    height: 28px;
}

#login:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}

nav a:hover,
nav a.active{
    color: #EBA842;
    border-bottom: 3px solid #EBA842;
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 10px; 
}

nav a {
    margin: 0 15px; 
    text-decoration: none; 
    color: black;
    position: relative; 
}

.dropdown-container {
    position: relative; 
}


.dropdown {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fff3f3;
    border: 1px solid #EBA842; 
    z-index: 999; 
    border-radius: 5px;
}

.dropdown-container:hover .dropdown {
    display: block; 
}

.dropdown a {
    display: block; 
    padding: 10px;
    color: black; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}

.dropdown-container:hover a {
    border-bottom: 2px solid #EBA842; 
}

.dropdown a:hover {
    background-color: transparent; 
    color: #EBA842; 
}
.footer {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    border-top: 2px solid #EBA842;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 47px;
}
  
.footer p {
    margin: 5px 0;
    color: black;
    font-size: 1.5rem;  
}
  
.footer a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #EBA842;
        border-bottom: 3px solid #EBA842;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #EBA842;
    }
}

