body{
    background-color: #fff7e8;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
}

.product {
    margin-top: 50px;
    margin-left: 5%; /*ARREGLAR AQUI SIRVE PARA MOVER TODO de izq-der*/
    border-radius: 15px;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    border: 2px solid #EBA842;
    width: 25%;
    background-color: white;
}

.imagen{
display: flex;
justify-content: center;
margin-top: 20%;
width: 100%;

}
.product img {
   width: 60%;

}
.product h1{
    color: black;
    margin-top: 50px; 
    text-align: center;
    font-size: 30px;
}
.product h2{
    color: black;
    margin-top: 1px; 
    text-align: center;
    font-size: 30px; 
}
.product p{
    color: black;
    margin-top: 10px; 
    text-align: center;
    font-size: 30px;  
}

.product-card {
    border: 2px solid #EBA842;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex; 
    width: 1000px;
    margin-left:  5%;
    max-width: 1200px;
    height: 100%;
}

.product-info {
    flex: 3; 
    text-align: left;
    color: black;
    
}

.product-info h2 {
    font-size: 3rem;
    color: #EBA842;
    margin-bottom: 10px;
}

.storage-options, .specifications {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    
}

.storage-options li, .specifications li {
    margin-bottom: 5px;
    font-size: 1.75rem;
}
h2 {
    color: #007aff;
}

.specifications ul {
    padding-left: 20px;
    font-size: 1.75rem;
}
.storage-options {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.specifications li {
    line-height: 1.5;
    font-size: 1.75rem;
}
