body {
    font-family: Arial, sans-serif;
    background-color: #fff7e8;
    margin: 0;
    padding: 0;
    color: #ff0000;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 60px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.containerslide {
    height: auto;
    width: auto;
    margin-bottom: auto;
    margin-top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff7e8;
    border-radius: 10px;

}

.testimonial {
    margin-top: auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
}

.image {
    margin-top: 30px;
    height: auto;
    width: 70%;
    transition: transform 0.5s ease;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containeroferta1{
   background-color: #ffffff;
   display: flex;
   margin-right: 60%;
   margin-top: 5%;
   margin-bottom: 5%;
   text-align: center;
   border-radius: 20px;
   flex-direction: column;
   width: 650px;
}

.oferta1 img{
    width: 85%;
}

.containeroferta1 h1{
    color: #f28500;
    
}



.oferta1{
    margin-top: 2%;
    margin-bottom: 4%;
    transition: transform 0.5s ease;
}

.container4ofertas{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: 500px;
    gap: 20px;
    
}

.minioferta2{
    background-color: #ffffff;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.oferta img{
    width: 50%;
}

/* Botones de navegación Swiper */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(0px);
    background-color: rgba(242, 133, 0, 0.1);
    /* Naranja claro */
    transition: 0.2s;
}

.nav-btn:hover {
    
    background-color: rgba(242, 133, 0, 0.2);
    /* Naranja más oscuro al pasar el cursor */
}

.nav-btn::after,
.nav-btn::before {
   
    font-size: 20px;
    color: #f28500;
    /* Iconos de navegación naranjas */
}

.swiper-pagination-bullet {
    
    background-color: rgba(242, 133, 0, 0.8);
    /* Puntos de paginación naranja */
}

.swiper-pagination-bullet-active {
    
    background-color: #f28500;
    /* Punto de paginación activo en naranja */
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}


.oferta1:hover{
    transform: scale(1.1);
    border: 2px black;
}



.image:hover {
    border: 2px black;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transform: scale(1.1);
   
}