body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  width: 100%;
  position: fixed;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #EBA842;
  }
  
  .header h1 {
    margin: 0;
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .header h1 img {
    height: 50px;
    margin-right: 10px;
  }
  
  .nav {
    background-color: #ffffff;
    display: flex;
  }
  
  .nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #ddd;
  }
  

  .footer {
    border-top: 2px solid #EBA842;
    margin-top: auto;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    
    color: black;
    text-decoration: none;
    margin: 0 5px;
  }
  
